<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="billing">
      <h2 data-cy="billingDetailsHeading"><span jhiTranslate="jhipsterSampleApplicationApp.billing.detail.title">Billing</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ billing.id }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.billing.visitId">Visit Id</span></dt>
        <dd>
          <span>{{ billing.visitId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.billing.patientId">Patient Id</span></dt>
        <dd>
          <span>{{ billing.patientId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.billing.physicianId">Physician Id</span></dt>
        <dd>
          <span>{{ billing.physicianId }}</span>
        </dd>
        <dt><span jhiTranslate="jhipsterSampleApplicationApp.billing.billed">Billed</span></dt>
        <dd>
          <span>{{ billing.billed | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/billing', billing.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
