<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-visit-heading"
        data-cy="VisitCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.visit.home.createOrEditLabel"
      >
        Create or edit a Visit
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.visitDateTime" for="field_visitDateTime"
            >Visit Date Time</label
          >
          <div class="input-group">
            <input
              id="field_visitDateTime"
              data-cy="visitDateTime"
              type="text"
              class="form-control"
              name="visitDateTime"
              ngbDatepicker
              #visitDateTimeDp="ngbDatepicker"
              formControlName="visitDateTime"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="visitDateTimeDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div
            *ngIf="
              editForm.get('visitDateTime')!.invalid && (editForm.get('visitDateTime')!.dirty || editForm.get('visitDateTime')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('visitDateTime')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.reason" for="field_reason">Reason</label>
          <input type="text" class="form-control" name="reason" id="field_reason" data-cy="reason" formControlName="reason" />
          <div *ngIf="editForm.get('reason')!.invalid && (editForm.get('reason')!.dirty || editForm.get('reason')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('reason')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.created" for="field_created">Created</label>
          <div class="input-group">
            <input
              id="field_created"
              data-cy="created"
              type="text"
              class="form-control"
              name="created"
              ngbDatepicker
              #createdDp="ngbDatepicker"
              formControlName="created"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="createdDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('created')!.invalid && (editForm.get('created')!.dirty || editForm.get('created')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('created')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.modified" for="field_modified">Modified</label>
          <div class="input-group">
            <input
              id="field_modified"
              data-cy="modified"
              type="text"
              class="form-control"
              name="modified"
              ngbDatepicker
              #modifiedDp="ngbDatepicker"
              formControlName="modified"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="modifiedDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.createdBy" for="field_createdBy"
            >Created By</label
          >
          <input type="number" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
          <div *ngIf="editForm.get('createdBy')!.invalid && (editForm.get('createdBy')!.dirty || editForm.get('createdBy')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('createdBy')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('createdBy')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.modifiedBy" for="field_modifiedBy"
            >Modified By</label
          >
          <input
            type="number"
            class="form-control"
            name="modifiedBy"
            id="field_modifiedBy"
            data-cy="modifiedBy"
            formControlName="modifiedBy"
          />
          <div *ngIf="editForm.get('modifiedBy')!.invalid && (editForm.get('modifiedBy')!.dirty || editForm.get('modifiedBy')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('modifiedBy')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('modifiedBy')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.patientId" for="field_patientId"
            >Patient Id</label
          >
          <select class="form-control" id="field_patientId" data-cy="patientId" name="patientId" formControlName="patientId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="patientOption.id === editForm.get('patientId')!.value?.id ? editForm.get('patientId')!.value : patientOption"
              *ngFor="let patientOption of patientsSharedCollection; trackBy: trackPatientById"
            >
              {{ patientOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.visit.physicianId" for="field_physicianId"
            >Physician Id</label
          >
          <select class="form-control" id="field_physicianId" data-cy="physicianId" name="physicianId" formControlName="physicianId">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                physicianOption.id === editForm.get('physicianId')!.value?.id ? editForm.get('physicianId')!.value : physicianOption
              "
              *ngFor="let physicianOption of physiciansSharedCollection; trackBy: trackPhysicianById"
            >
              {{ physicianOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
