<div>
  <h2 id="page-heading" data-cy="HolidayHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.holiday.home.title">Holidays</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.holiday.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-holiday"
        [routerLink]="['/holiday/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.holiday.home.createLabel"> Create a new Holiday </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="holidays?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.holiday.home.notFound">No holidays found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="holidays && holidays.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.holiday.visitDateTime">Visit Date Time</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.holiday.reason">Reason</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.holiday.created">Created</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.holiday.modified">Modified</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.holiday.createdBy">Created By</span></th>
          <th scope="col"><span jhiTranslate="jhipsterSampleApplicationApp.holiday.modifiedBy">Modified By</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let holiday of holidays; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/holiday', holiday.id, 'view']">{{ holiday.id }}</a>
          </td>
          <td>{{ holiday.visitDateTime | formatMediumDate }}</td>
          <td>{{ holiday.reason }}</td>
          <td>{{ holiday.created | formatMediumDate }}</td>
          <td>{{ holiday.modified | formatMediumDate }}</td>
          <td>{{ holiday.createdBy }}</td>
          <td>{{ holiday.modifiedBy }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/holiday', holiday.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/holiday', holiday.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(holiday)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
